logs_training/AE/*
logs_training/DM/*
logs_validation/AE/*
logs_validation/DM/*
logs_validation/pretrained_DM/*
**/__pycache__/**
wandb
slurm-*.out
flow_output
.__dpc*
video2video/*
metrics_carla/
output_tensor/*
output_model/*